<script setup lang="ts">

import {TwButton} from "vue3-tailwind";
const isOpen = ref(false);


const toggleMenu = () => {
  isOpen.value = !isOpen.value;
};
</script>

<template>


  <div class="relative overflow-x-auto shadow-md sm:rounded-lg" > 훈련일지
  </div>
  <div>
    <div class="relative inline-block text-right">
      <div>
        <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true" @click="toggleMenu">
          과정명 선택
          <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <!-- Dropdown menu -->
      <div v-if="isOpen" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Java 웹 앱 개발 a반</a>
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">포토샵 반</a>
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">auto cad반 </a>

        </div>
      </div>

    </div>
  </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          재적
        </th>
        <th scope="col" class="px-6 py-3">
          출석
        </th>
        <th scope="col" class="px-6 py-3">
          결석
        </th>
        <th scope="col" class="px-6 py-3">
          지각
        </th>
        <th scope="col" class="px-6 py-3">
          조퇴
        </th>

      </tr>
      </thead>


      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          17
        </th>
        <td class="px-6 py-4">
          17
        </td>
        <td class="px-6 py-4">
          0
        </td>
        <td class="px-6 py-4">
          0
        </td>
        <td class="px-6 py-4">
          0
        </td>


      </tr>

      </tbody>
    </table>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <th scope="row" class="px- py-10 font-medium text-gray-900 whitespace-nowrap dark:text-white">

      </th>
      <tr>
        <th scope="col" class="px-6 py-3">
          교시
        </th>
        <th scope="col" class="px-6 py-3">
          담당교사
        </th>
        <th scope="col" class="px-6 py-3">
          훈련과목
        </th>
        <th scope="col" class="px-6 py-3">
          훈련내용
        </th>

      </tr>
      </thead>
      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          1교시
        </th>
        <td class="px-6 py-4">
          문미림강사님
        </td>
        <td class="px-6 py-4">
          (JAVA)웹&앱
        </td>
        <td class="px-6 py-4">
          진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.
        </td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          2교시
        </th>
        <td class="px-6 py-4">
          문미림강사님
        </td>
        <td class="px-6 py-4">
          (JAVA)웹&앱
        </td>
        <td class="px-6 py-4">
          진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.
        </td>

      </tr>
      </tbody>
    </table>

  </div>
  <div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <th scope="row" class="px-5 py-10 font-medium text-gray-900 whitespace-nowrap dark:text-white">

        </th>

        <div>
          <TwButton>수정하기</TwButton>
        </div>
        <tr>
          <th scope="col" class="px-6 py-3">
            훈련기관
          </th>
          <th scope="col" class="px-1 py-3">
            이론
            <div>
              <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <input type="text" id="small-input"
                     class="block w-0.5 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            실습
            <div>
              <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <input type="text" id="small-input"
                     class="block w-0.5 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </th>


        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="col" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            지시사항
          </th>

          <td class="px-6 py-4">

            <div>
              <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <input type="text" id="small-input"
                     class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-800 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </td>
        </tr>

        </tbody>
        <div class="button-container1">
          <TwButton class="mr-2">수정하기</TwButton>
          <TwButton class="mr-2">삭제하기</TwButton>
        </div>
      </table>
    </div>

  </div>
</template>

<style scoped>
.button-container1 {
  display: flex;
  margin: 5px;
  margin-bottom: 10px;
  justify-content: flex-end; /* 버튼을 오른쪽으로 정렬합니다. */
}



</style>
