<template>
  <div>
    <h2 class="text-2xl font-bold">Datatable Serverside</h2>
    <hr class="my-2 border dark:border-gray-700" />
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
        <thead>
        <tr>
          <th v-for="col in data.column" :key="col.field"
              @click="sortClick(col.field)"
              :class="{ 'cursor-pointer': col.sortable }"
              class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            {{ col.label }}
          </th>
          <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Action
          </th>
        </tr>
        </thead>
        <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
        <tr v-for="(item, index) in data.data" :key="index" class="bg-white dark:bg-gray-800">
          <td v-for="col in data.column" :key="col.field" class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-gray-900 dark:text-gray-200">
            {{ item[col.field] }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-right text-sm leading-5 font-medium">
            <TwButton @click="handleEdit(item)" variant="primary" class="mr-2">수정하기</TwButton>
            <TwButton @click="handleDelete(index)" variant="danger">삭제하기</TwButton>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="bg-white dark:bg-gray-800 text-center w-full" v-if="data.data.length === 0">No Data</div>
    </div>
    <hr class="my-2 dark:border-gray-700" />
    <div>
      <div class="flex gap-2">
        <div class="w-32">Selected Data</div>
        <div>: {{ data.selected }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order By</div>
        <div>: {{ data.sortBy }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order Type</div>
        <div>: {{ data.sortType }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Search</div>
        <div>: {{ data.search }}</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { DatatableColumn, DatatableData, TwButton } from "vue3-tailwind";

const data = ref({
  column: [
    {
      label: "Brand",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "Category",
      field: "category",
      width: "400px",
      sortable: true,
    },
    {
      label: "Description",
      field: "description",
      width: "400px",
      sortable: true,
    },
  ] as Array<DatatableColumn>,
  data: [
    { brand: "Apple", category: "Electronics", description: "iPhone" },
    { brand: "Samsung", category: "Electronics", description: "Galaxy" },
    { brand: "Nike", category: "Apparel", description: "Shoes" },
    { brand: "Adidas", category: "Apparel", description: "Sneakers" },
    { brand: "Sony", category: "Electronics", description: "PlayStation" }
  ] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const sortClick = (field: string) => {
  const sortBy = data.value.sortBy;
  const sortType = data.value.sortType;
  const sortByNew = field;
  const sortTypeNew = field === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc';
  data.value.sortBy = sortByNew;
  data.value.sortType = sortTypeNew;
};

const handleEdit = (item: DatatableData) => {
  console.log("Edit item:", item);
};

const handleDelete = (index: number) => {
  console.log("Delete item at index:", index);
};
</script>


