<script setup lang="ts">
import { TwFeather } from "vue3-tailwind";
useHead({
  title: "Dashboard",
});
</script>

<template>
  <div>
    <h1 class="text-3xl font-bold">강사용 대시보드</h1>
    <hr class="my-3 border dark:border-black-600"/>
    <!--    컬러 색상-->
    <!--     m가로 y세로-->
    <div class="grid grid-cols-subgrid-5 gap-9 m-12 ">
      <!--      mt 마진 t 패딩-->
      <div class="col-span-12 md:col-span-1 flex gap-10">
        <div class="flex gap-1.5 rounded-lg p-40 shadow bg-white dark:bg-gray-900 h-0.5">
          <div class="flex flex-col justify-between">
            <div class="">
              <div class="text-black-700 dark:text-black-200 font-bold text-xl">
                <!--     text-gray-700 글자색상  font-bold text-xs,xl 글자 사이즈 -->
                출결관리
              </div>
             <div class="">
                 dddddddddddddddddddddd
             </div>
            </div>
          </div>
        </div>
        <div class="flex gap-1.5 rounded-lg p-40 shadow bg-white dark:bg-gray-900 h-0.5 ">
          <div class="flex flex-col justify-between">
            <div class="">
              <div class="text-gray-700 dark:text-gray-200 font-bold text-xl">
                <!--     text-gray-700 글자색상  font-bold text-xs,xl 글자 사이즈 -->
                <!--     br 줄바꿈 ㅎ-->
                훈련일지
              </div>
              <div class="">
                여기에는 출결관리를 넣을거야<br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-1 flex gap-10 " >
        <div class="flex gap-1.5 rounded-lg p-40 shadow bg-white dark:bg-gray-900 h-0.5">
          <div class="flex flex-col justify-between">
            <div class="">
              <div class="text-gray-700 dark:text-gray-200 font-bold text-xl">
                <svg class="h-8 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <!--    class="h-8 글자 정렬 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor   -->
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                  <!--                  stroke-width="3" 아이콘 굵기-->
                </svg>
                최근교육신청
              </div>
              <div class="">
                여기에는 교육신청을 넣을거야
              </div>
            </div>

          </div>

        </div>
        <div class="flex gap-1.5 rounded-lg p-40 shadow bg-white dark:bg-gray-900 h-0.5">
          <div class="flex flex-col justify-between">
            <div class="">
              <div class="text-gray-700 dark:text-gray-200 font-bold text-xl">
                강사용 대시보드
              </div>
              <div class="">
                여기에는 출결관리를 넣을거야
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
</template>







