<template>
  <div>
    <h1 class="text-3xl font-bold"> 개인정보</h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex m-1 p-1.5 ">
      <img
          class="lmspic border border-[#1d152a7a]"
          src="/images/lmspicture.jpg"
          alt=""/>
      <!--개인정보 표-->
      <table class="flex-col border-collapse border border-slate-100 ">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td class="border border-slate-300  bg-gray-200 text-black">성명</td>
          <td class="border border-slate-300  text-black ">임인영</td>
          <td class="border border-slate-300 bg-gray-200 text-black">교육과정</td>
          <td class="border border-slate-300 text-black">자바 웹 개발</td>
        </tr>
        <tr>
          <td class="border border-slate-300 bg-gray-200 text-black">교육타입</td>
          <td class="border border-slate-300 text-black">국기</td>
          <td class="border border-slate-300 bg-gray-200 text-black">교육기간</td>
          <td class="border border-slate-300 text-black">2023-11-20 ~ 2024-05-14</td>
        </tr>
        <tr>
          <td class="border border-slate-300 bg-gray-200 text-black">카드유형</td>
          <td class="border border-slate-300 text-black">구직자 유형</td>
          <td class="border border-slate-300 bg-gray-200 text-black">집전화</td>
          <td class="border border-slate-300 text-black">031-317-0000</td>
        </tr>
        <tr>
          <td class="border border-slate-300 bg-gray-200 text-black">주소</td>
          <td class="border border-slate-300 text-black">경기도 안산시 단원구 고잔동</td>
          <td class="border border-slate-300 bg-gray-200 text-black">주민등록번호</td>
          <td class="border border-slate-300 text-black">941208-********</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--    정보수정 버튼 div-->
    <div class="button text-left">
      <TwButton class="custom-button" variant="secondary">
        정보 수정
      </TwButton>
    </div>
    <div class="info">
      <table class="sh border-collapse border border-slate-100">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td class="border border-slate-300  bg-gray-200 text-black">업체명</td>
          <td class="border border-slate-300  text-black "></td>
          <td class="border border-slate-300 bg-gray-200 text-black">사업장</td>
          <td class="border border-slate-300 text-black"></td>
        </tr>
        <tr>
          <td class="border border-slate-300 bg-gray-200 text-black">직종</td>
          <td class="border border-slate-300 text-black"></td>
          <td class="border border-slate-300 bg-gray-200 text-black">직위</td>
          <td class="border border-slate-300 text-black"></td>
        </tr>
        <tr>
          <td class="border border-slate-300 bg-gray-200 text-black">근무부서</td>
          <td class="border border-slate-300 text-black"></td>
          <td class="border border-slate-300 bg-gray-200 text-black">소재지</td>
          <td class="border border-slate-300 text-black"></td>
        </tr>
        <tr>
          <td class="border border-slate-300 bg-gray-200 text-black">주소</td>
          <td class="border border-slate-300 text-black"></td>
          <td class="border border-slate-300 bg-gray-200 text-black">신청사유</td>
          <td class="border border-slate-300 text-black"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!--    신청사유 div -->

    <div class="reason">
      <table class="sh border-collapse border border-slate-100">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td class="border border-slate-300  bg-gray-200 text-black">신청사유</td>
          <td class="border border-slate-300  text-black ">취업 하고 싶어서 신청했어요 </td>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="abilty">
      <table class="sh border-collapse border border-slate-100">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td class="border border-slate-300  bg-gray-200 text-black">최종학력</td>
          <td class="border border-slate-300  text-black "></td>
          <td class="border border-slate-300  bg-gray-200 text-black">대학교명</td>
          <td class="border border-slate-300  text-black ">안산대학교</td>
        </tr>
        <td class="border border-slate-300  bg-gray-200 text-black">졸업년도</td>
        <td class="border border-slate-300  text-black ">2018</td>
        <td class="border border-slate-300  bg-gray-200 text-black">전공</td>
        <td class="border border-slate-300  text-black ">경영학과</td>
        </tbody>
      </table>
    </div>

    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            근무경력
          </th>
          <th scope="col" class="px-6 py-3">
            근무기간
          </th>
          <th scope="col" class="px-6 py-3">
            담당업무
          </th>
          <th scope="col" class="px-6 py-3">
            직급
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            올리브영 근무
          </th>
          <td class="px-6 py-4">
            3년 근무
          </td>
          <td class="px-6 py-4">
            서비스 업무
          </td>
          <td class="px-6 py-4">
            매니저
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            pc방 근무
          </th>
          <td class="px-6 py-4">
            6개월 근무
          </td>
          <td class="px-6 py-4">
            음식 제조
          </td>
          <td class="px-6 py-4">
            알바
          </td>
        </tr>
        <tr class="bg-white dark:bg-gray-800">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            고피자
          </th>
          <td class="px-6 py-4">
            2년 근무
          </td>
          <td class="px-6 py-4">
            피자 제조 및 서비스 업무
          </td>
          <td class="px-6 py-4">
            알바
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            자격명
          </th>
          <th scope="col" class="px-6 py-3">
            취득일
          </th>
          <th scope="col" class="px-6 py-3">
            발행처
          </th>
          <th scope="col" class="px-6 py-3">
            회사
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            정보처리기사
          </th>
          <td class="px-6 py-4">
            2023 취득
          </td>
          <td class="px-6 py-4">
            산업공단
          </td>
          <td class="px-6 py-4">
            경기 회사
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            pc방 근무
          </th>
          <td class="px-6 py-4">
            6개월 근무
          </td>
          <td class="px-6 py-4">
            음식 제조
          </td>
          <td class="px-6 py-4">
            알바
          </td>
        </tr>
        <tr class="bg-white dark:bg-gray-800">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            고피자
          </th>
          <td class="px-6 py-4">
            2년 근무
          </td>
          <td class="px-6 py-4">
            피자 제조 및 서비스 업무
          </td>
          <td class="px-6 py-4">
            알바
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="something">

    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
      <time class="text-lg font-semibold text-gray-900 dark:text-white">기타사항</time>
      <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
        <li>
          <a href="#" class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="text-gray-600 dark:text-gray-400">
              <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Jese Leos</span> likes <span class="font-medium text-gray-900 dark:text-white">Bonnie Green's</span> post in <span class="font-medium text-gray-900 dark:text-white"> How to start with Flowbite library</span></div>
              <div class="text-sm font-normal">"I wanted to share a webinar zeroheight."</div>
              <span class="inline-flex items-center text-xs font-normal text-gray-500 dark:text-gray-400">
                        <svg class="w-2.5 h-2.5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 0 19 9.5 9.5 0 0 0 0-19ZM8.374 17.4a7.6 7.6 0 0 1-5.9-7.4c0-.83.137-1.655.406-2.441l.239.019a3.887 3.887 0 0 1 2.082 2.5 4.1 4.1 0 0 0 2.441 2.8c1.148.522 1.389 2.007.732 4.522Zm3.6-8.829a.997.997 0 0 0-.027-.225 5.456 5.456 0 0 0-2.811-3.662c-.832-.527-1.347-.854-1.486-1.89a7.584 7.584 0 0 1 8.364 2.47c-1.387.208-2.14 2.237-2.14 3.307a1.187 1.187 0 0 1-1.9 0Zm1.626 8.053-.671-2.013a1.9 1.9 0 0 1 1.771-1.757l2.032.619a7.553 7.553 0 0 1-3.132 3.151Z"/>
                        </svg>
                        Public
                    </span>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-gray-700">

            <div>
              <div class="text-base font-normal text-gray-600 dark:text-gray-400"><span class="font-medium text-gray-900 dark:text-white">Bonnie Green</span> react to <span class="font-medium text-gray-900 dark:text-white">Thomas Lean's</span> comment</div>
              <span class="inline-flex items-center text-xs font-normal text-gray-500 dark:text-gray-400">
                        <svg class="w-2.5 h-2.5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="m2 13.587 3.055-3.055A4.913 4.913 0 0 1 5 10a5.006 5.006 0 0 1 5-5c.178.008.356.026.532.054l1.744-1.744A8.973 8.973 0 0 0 10 3C4.612 3 0 8.336 0 10a6.49 6.49 0 0 0 2 3.587Z"/>
                            <path d="m12.7 8.714 6.007-6.007a1 1 0 1 0-1.414-1.414L11.286 7.3a2.98 2.98 0 0 0-.588-.21l-.035-.01a2.981 2.981 0 0 0-3.584 3.583c0 .012.008.022.01.033.05.204.12.401.211.59l-6.007 6.007a1 1 0 1 0 1.414 1.414L8.714 12.7c.189.091.386.162.59.211.011 0 .021.007.033.01a2.981 2.981 0 0 0 3.584-3.584c0-.012-.008-.023-.011-.035a3.05 3.05 0 0 0-.21-.588Z"/>
                            <path d="M17.821 6.593 14.964 9.45a4.952 4.952 0 0 1-5.514 5.514L7.665 16.75c.767.165 1.55.25 2.335.251 6.453 0 10-5.258 10-7 0-1.166-1.637-2.874-2.179-3.407Z"/>
                        </svg>
                        Private
                    </span>
            </div>
          </a>
        </li>
      </ol>
    </div>
    <div class="p-5 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
      <time class="text-lg font-semibold text-gray-900 dark:text-white">January 12th, 2022</time>
      <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
        <li>
          <a href="#" class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-gray-700">

            <div class="text-gray-600 dark:text-gray-400">
              <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Laura Romeros</span> likes <span class="font-medium text-gray-900 dark:text-white">Bonnie Green's</span> post in <span class="font-medium text-gray-900 dark:text-white"> How to start with Flowbite library</span></div>
              <div class="text-sm font-normal">"I wanted to share a webinar zeroheight."</div>
              <span class="inline-flex items-center text-xs font-normal text-gray-500 dark:text-gray-400">
                        <svg class="w-2.5 h-2.5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="m2 13.587 3.055-3.055A4.913 4.913 0 0 1 5 10a5.006 5.006 0 0 1 5-5c.178.008.356.026.532.054l1.744-1.744A8.973 8.973 0 0 0 10 3C4.612 3 0 8.336 0 10a6.49 6.49 0 0 0 2 3.587Z"/>
                            <path d="m12.7 8.714 6.007-6.007a1 1 0 1 0-1.414-1.414L11.286 7.3a2.98 2.98 0 0 0-.588-.21l-.035-.01a2.981 2.981 0 0 0-3.584 3.583c0 .012.008.022.01.033.05.204.12.401.211.59l-6.007 6.007a1 1 0 1 0 1.414 1.414L8.714 12.7c.189.091.386.162.59.211.011 0 .021.007.033.01a2.981 2.981 0 0 0 3.584-3.584c0-.012-.008-.023-.011-.035a3.05 3.05 0 0 0-.21-.588Z"/>
                            <path d="M17.821 6.593 14.964 9.45a4.952 4.952 0 0 1-5.514 5.514L7.665 16.75c.767.165 1.55.25 2.335.251 6.453 0 10-5.258 10-7 0-1.166-1.637-2.874-2.179-3.407Z"/>
                        </svg>
                        Private
                    </span>
            </div>
          </a>
        </li>
      </ol>
    </div>


  </div>
  <div>
    <TwButton variant="secondary" :ripple="true">
      목록으
    </TwButton>
  </div>
</template>


<script setup lang="ts">
import {TwButton} from "vue3-tailwind";
</script>

<style scoped>
.work table {
  width: calc(100% - 170px); /* Adjust width as needed */
}

.work th,
.work td {
  width: calc(100% / 7); /* Distribute equally across 7 columns */
  padding: 16px;
}

.abilty {
  margin: 10px;
}

.work {
  margin: 10px;
}

.custom-button {
  background-color: #a1a1a1;
}

.info {

  margin: 20px;
}

.reason {
  margin: 25px;
}

.reason.sh td {
  padding: 40px;
}

.reason .sh td:nth-child(1) {
  width: 10%; /* 업체명 셀 너비 설정 */
}

.sh {
  margin-left: 70px;
}


.button {
  margin: 4px;
  margin-left: 50px;

}

.lmspic {
  margin: 5px;
  width: 170px;
  height: 226px;
}

/* 표의 너비 및 셀 크기 조정 */
table {
  width: calc(100% - 170px); /* 사진의 너비와 간격을 제외한 나머지 공간을 표가 차지하도록 설정 */
  margin: auto; /* 표를 수평 가운데 정렬 */
}

/* 표의 셀들에 대한 스타일 */
th,
td {
  padding: 15px; /* 셀 내용과 테두리 사이의 간격을 조절 */
  width: 25%; /* 4열로 분할 */
}
</style>
